.budget-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #020617;
}

.budget-card {
  width: 400px;
  padding: 30px;

  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(20px);

  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.08);

  box-shadow: 0 20px 60px rgba(0,0,0,0.6);

  color: white;
}

.budget-card h2 {
  margin-bottom: 20px;
}

.budget-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;

  border-radius: 10px;
  border: none;

  background: rgba(255,255,255,0.05);
  color: white;
}

.budget-card button {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: none;

  background: linear-gradient(135deg, #6366f1, #38bdf8);
  color: white;

  cursor: pointer;
}

.budget-info {
  margin-top: 20px;
}

.progress-bar {
  height: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #22c55e, #4ade80);
  border-radius: 10px;
}
