.dashboard-wrapper {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(to right, #020617, #0f172a);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.logout-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.logout-btn:hover {
  background: #dc2626;
}

/* GRID */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

/* CARD */
.stat-card {
  padding: 20px;
  border-radius: 16px;

  background: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transition: 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h4 {
  font-size: 14px;
  opacity: 0.7;
}

.stat-card p {
  font-size: 22px;
  margin-top: 5px;
  font-weight: bold;
}

/* CHART */
.chart-card {
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 16px;

  background: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* LIST */
.list-card {
  padding: 20px;
  border-radius: 16px;

  background: rgba(30, 41, 59, 0.8);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-item p {
  font-size: 12px;
  opacity: 0.7;
}

.expense-item span {
  font-weight: bold;
  font-size: 16px;
}

.chart-card canvas {
  margin-top: 15px;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
